#pic1 {
    width: 300px;
}
#pic2 {
    width: 300px;
}
#pic3 {
    width: 300px;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
       #pic1 {
        display: block;
       }
       #pic2 {
        display: none;
       }
       #pic3 {
        display: none;
       }
}

@media (min-width: 768px) and (max-width: 1023px) {
        #pic1 {
            display: none;
        }
       #pic2 {
        display: block;
       }
       #pic3 {
        display: none;
       }
 
}

@media (min-width: 1024px) {
    #pic1 {
        display: none;
    }
   #pic2 {
    display: none;
   }
   #pic3 {
    display: block;
   }
}